body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #f0f8ff;
}

form {
    width: 400px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2FD3D9;
    text-align: center;
}

/* form h1 {
    font-style: bold;
} */

form h1,
form p {
    color: #f0f8ff;
    font-weight: 500;
}

font p {
    font-size: 10px;
}

.login_form_btn {
    padding: 10px 0;
    margin: 10px 0;
}

form input[type="id"],
form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    border: 2px solid #f0f8ff;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}

form input[type="id"]:focus,
form input[type="password"]:focus {
    width: 280px;
    background-color: #f0f8ff;
}

form input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #f0f8ff;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #f0f8ff;
    border: 2px solid #f0f8ff;
}

.center {
    background: none;
    display: block;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background-color: #000;
    color: white;
}

#c_color {
    color: #5379fa;
    border: none;
    background: transparent;
    font-size: 16px;
}

.red {
    height: 19.2px;
    color: #b7282e;
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#r_color {
    color: #b7282e;
    border: none;
    background: transparent;
    font-size: 16px;
}