body{
    font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    line-height: 1.75;
    font-size: 16px;
}

#header {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #7CFC00; */
    /* background: #17CB48; */
    text-align: center;
    padding: 20px;
}

#header.img {
    position: relative;
}

#header.fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    color: #666;
    margin: 0 auto;
    padding: 10px;
    margin-right: 30px;
    /* position: right; */
    /* display: flex; */
    /* justify-content: ; */
}

nav a.top {
    display: flex;
	font-size: 21px;
	width: 300px;
	height: 30px;
	color: black;
	background-color: #fff;
	margin: 10px auto;
	padding: 10px 10px;
	text-align: center;
	border: 1px solid #4a4a4a;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.7);
    list-style: none;
    line-height: 3;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 768px) {
	#header {
	  width: 100%;
	  height: 5vh;
	  padding: 80px 0 0 0;
	  position: absolute;
	  top: 0;
	  right: -100%;
	  transition: .5s;
	  opacity: 0.9;
	}
  } */
 

section {
    padding: 300px 0;
}

.contents {
    list-style: none;
    display: flex;
}

.contents li {
    /* width: 100px;
    height: 100px; */
    /* margin: 2px; */
    /* color: #fff; */
    list-style: none;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.contents {
		flex-direction: column;
		align-items: center;
	}

	.li {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.item img {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-bottom: 30px;
	}

	.item_text {
		width: 100%;
	    justify-content: center;
	    align-items: center;
	}
}

.item {
    justify-content: center;
}

.item_title {
    font-size: 28px;
}

.flex-item {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.flex-item_txt {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    display: flex;
}

h2 {
    text-align: center;
    font-size: 28px;
}

.midashi {
    font-size: 36px;
}

p {
    text-align: center;
}
@media screen and (max-width: 767px) {
	.flex-item {
		flex-direction: column;
		align-items: center;
	}

	.flex-item:nth-child(even){
		flex-direction: column;
	}

	.flex-item__img {
		width: 100%;
		height: 100%;
		padding-bottom: 30px;
		justify-content: center;
	}

	.flex-item__txt {
		width: 100%;
	    justify-content: center;
	    align-items: center;
		margin-bottom: 30px;
	}
}
a {
    display: block;
	font-size: 21px;
	width: 300px;
	height: 60px;
	color: black;
	background-color: #fff;
	margin: 0 auto;
	padding: 10px 10px;
	text-align: center;
	border: 1px solid #4a4a4a;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.7);
	margin-bottom: 48px;
    list-style: none;
    line-height: 3;
    text-decoration: none;
}

.a:hover {
	opacity: 0.7;
}

/*お悩みコーナー*/
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.onayami_list {
    margin: 10px 0;
}

.onayami {
	border: 1px solid #ccc;
    padding: 0;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;

}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);

}
.title::after{
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
}

.sns {
    /* list-style: none; */
    display: flex;
    padding: 0;
}

.sns {
    margin: 0 auto;
}

.sns li {
    list-style: none;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.snsname {
    font-size: 28px;
}

/* .form_title {
    text-align: center;
}

form {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
} */
.Form {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
  @media screen and (max-width: 480px) {
    .Form {
      margin-top: 40px;
    }
  }
  .Form-Item {
  
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .Form-Item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
  }
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
      margin-top: 0;
    }
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: red;
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
    }
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #2FD3D9;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  @media screen and (max-width: 480px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }

footer p {
    text-align: center;
    justify-content: center;
}