/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/


/*　パディングをサイズ内側にする処理　*/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/
.daimoku {
	display: flex;
}

#chart_div {
	width: 1200px;
}

.cp_ipselect {
	overflow: hidden;
	width: 180px;
	/* margin: 2em auto; */
	text-align: left;
	margin-bottom: 10px;
}

.cp_ipselect select {
	width: 160px;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 12px;
}

.cp_ipselect select::-ms-expand {
	display: none;
}

.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid black;
	border-radius: 2px;
	background: #ffffff;
}

.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
	pointer-events: none;
}

.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid black;
}

.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 8px;
	color: black;
}