#header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#header.fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    padding: 10px;
}

section {
    padding: 300px 0;
}

.contents {
    list-style: none;
}
.contents li {
    width: 100px;
    height: 100px;
    margin: 2px;
    color: #fff;
    background: #62BEB6;
    list-style: none;
    justify-content: space-around;
    display: flex;
}

.item {
    width: calc(100% / 3 - 30px);
    margin-bottom: 30px;
    padding: 50px 10px;
    text-align: center;
}
/* 
.contents {
color: #05161a;
font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
word-wrap: break-word;
line-height: 1.6;
text-align: center;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
box-sizing: border-box;
margin: 0 auto;
width: 100%;
overflow: hidden;
padding-right: 0;
padding-left: 0;
max-width: 100%;
} */