#header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#header.fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    padding: 10px;
}

section {
    padding: 300px 0;
}

.contents {
    list-style: none;
    display: flex;
}

.contents li {
    /* width: 100px;
    height: 100px; */
    /* margin: 2px; */
    /* color: #fff; */
    list-style: none;
    justify-content: center;
    text-align: center;
}

.item {
    justify-content: center;
}